[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
"hurry.filesize" = "*"
unidecode = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.9"
